<h1>Burgers</h1>

<h3>Add a burger here</h3>

<ul>
    {{#each burgers}}
    <li>
        <p>ID: {{this.id}}</p>
        <p>Burger: {{this.burger_name}}</p>
        <button data-burgerid="{{this.id}}" class="delburger">Devour it!</button>
    </li>
    {{/each}}
</ul>

<form action="/burgerAdd" method="POST">
    <textarea type="text" name=""></textarea>

    <button type="submit">Submit</button>
</form>